*{
    padding: 0;
    margin: 0;
}
nav{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    margin: 0px auto;
    height: 100px;
  
    
}
nav button{
    width: 116px;
    height: 52px;
    border-radius: 10px;
    font-weight:bolder;
      color: darkgreen;
}
nav h1{
    font-size: 40px;
}
header{
    background-color: #C6E4D6;
    height: 560px;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 25px;
    /* padding: 80px 60px; */
}
.left-section{
    /* border: 1px solid red; */
    width: 48%;

}
.left-section p{
    padding-left: 20px;
}
.right-section{
/* border: 1px solid goldenrod; */
width: 48%;
height: 400px;

}
header div button{
    width: 270px;
    height: 56px;
    background-color: #006A50;
    border-radius: 10PX;
    color: #FFFFFF;
    border: none;
    font-size: 20PX;
    margin-top: 20PX;
    margin-left: 20px;
}
.hero-h1{
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 56px;
font-weight: 700;
line-height: 67px;
letter-spacing: 0%;
text-align: left;
padding-left: 20px;
}


/* main section */
.parent {
  max-width: 1280px;
  font-size: 20px;
  display: flex;
  gap: 24px;
  margin: 20px auto;
}

.child {
  height: 244px;
  padding: 24px;
  border: 1px solid gray;
  border-radius: 10px;

}

.child img {
  width: 62px;
  height: 62px;
  margin: 10px 8px;
}

.child_div h2 {
  margin: 10px 0;
}
.input-fl{
    width: 1132px;
    height: 64px;
    margin: 0 auto;
    display: block;
    border-radius: 20px;
    font-size: 20px;
    text-align: center;
}
.btn{
  

    box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.1);
border-radius: 8px;
font-size: 20px;
background: rgb(0, 106, 80);
padding: 24px;
margin: 20px 45%;
}
